<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>$title - bcionescu.com</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

	<div id="header"></div>

	<div class="container">
		<br><br>
		<center>
			<br><br>
			<h1 style="margin-top: 0;">$title</h1>
		</center>
		<b><br>
			<p>$date</p>
		</b>
		<p>
			<!-- Post begins here -->
			$body
			<!-- Post ends here -->
		</p>
	</div>

	<footer id="footer"></footer>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			fetch('/templates/header.html')
				.then(response => response.text())
				.then(data => document.getElementById('header').innerHTML = data);

			fetch('/templates/footer.html')
				.then(response => response.text())
				.then(data => document.getElementById('footer').innerHTML = data);
		});
	</script>

</body>

</html>
